@charset "UTF-8";

/*banner s*/
.banner{
    margin: 58px 0 50px 0;
    position: relative;
}

.banner .slider ul{
    background-color: black;
}

.banner .slider li{
    width: 100%;
    height: 465px;
}

.banner .slider a{
    width: 100%;
    height: 465px;
    display: inline-block;
}

.banner .circle{
    position: absolute;
    bottom: 20px;
    left: 50%;
    margin-left: -67px;
}

.banner .circle li{
    width: 12px;
    height: 12px;
    margin-right: 15px;
    background-color: #B5C0CB;
    border-radius: 50%;
    text-indent: -10em;
    overflow: hidden;
    float: left;
    cursor: pointer;
}

.banner .circle li.on{
    background-color: #2FBC71;
}
/*banner e*/

/*轮播图 s*/
.w-slider{
    width: 1000px;
    height: 230px;
    margin: 0 auto;
    margin-bottom: 53px;
    border-bottom: solid 1px #DBE1E7;
    position: relative;
}

.w-slider .slider{
    width: 100%;
    height: 191px;
    position: relative;
    overflow: hidden;
}

.w-slider .slider-main{
    width: 2000px;
    height: 191px;
}

.w-slider .slider-main-img{
    width: 1000px;
    height: 191px;
    position: absolute;
    top: 0;
    left: 0;
}

.slider-main .slider-main-product{
    width: 218px;
    margin-right: 43px;
    float: left;
}

.slider-main-product:hover{
    background-color: #38B774;
}

.slider-main-img img{
    width: 218px;
    height: auto;
}

.slider-main-img .title{
    width: 218px;
    height: 63px;
    display: block;
}

.slider-main-img .title h5{
    line-height: 30px;
    text-align: center;
    font-size: 14px;
    color: #444866;
    font-family: "microsoft yahei";
    font-weight: bold;
}

.slider-main-product .title p{
    line-height: 29px;
    text-align: center;
}

.slider-main .last{
    width: 217px;
    margin-right: 0;
}

.slider-main-img .title span{
    padding-right: 10px;
    color: #38B774;
    background: url(../images/arrow.png) no-repeat;
    background-position: center right;
}

.w-slider .circle{
    padding: 0 15px 0 15px;
    position: absolute;
    bottom: -6px;
    left: 50%;
    margin-left: -61px;
    background-color: #fff;
}

.w-slider .circle li{
    width: 12px;
    height: 12px;
    margin-right: 15px;
    background-color: #B5C0CB;
    border-radius: 50%;
    text-indent: -10em;
    overflow: hidden;
    float: left;
    cursor: pointer;
}

.w-slider .circle li.last{
    margin-right: 0;
}

.w-slider .circle li.on{
    background-color: #2FBC71;
}
/*轮播图 e*/

/*信息模块 s*/
.info{
    height: 364px;
    background: url(../images/indexmainbg.jpg) no-repeat center bottom;
}

.info .boyaanews{
    width: 500px;
    background: url(../images/bynewsbg.jpg) no-repeat;
    float: left;
    position: relative;
}

.boyaanews .more{
    width: 58px;
    height: 27px;
    line-height: 27px;
    padding-left: 8px;
    border: solid 1px #33B972;
    border-radius: 5px;
    font-size: 14px;
    color: #33B972;
    cursor: pointer;
    position: absolute;
    top: 40px;
    left: 218px;
}

.boyaanews .more span{
    line-height: 7px;
    position: absolute;
    left: 50px;
    top: 7px;
}

.boyaanews .more:hover{
    color: #fff;
    background-color: #33B972;
}

.boyaanews .news{
    width: 460px;
    margin: 117px 0 0 20px;
}

.boyaanews li{
    height: 47px;
    line-height: 47px;
    border-bottom: solid 1px #DBE1E7;
}

.news li a{
    float: left;
    font-size: 14px;
    color: #444866;
    font-family: "microsoft yahei";
}

.news li a:hover{
    color: #33B972;;
}

.news li span{
    float: right;
    font-size: 12px;
    color: #AFBECF;
}

.info .boyaajobs{
    width: 500px;
    height: 310px;
    background: url(../images/byhrbg3.jpg) no-repeat;
    float: left;
    position: relative;
}

.boyaajobs .stit{
    padding-left: 80px;
    padding-top: 45px;
    color: #FFFFFF;
    font-family: "microsoft yahei";
}

.stit h2{
    height: 28px;
    font-size: 30px;
}

.boyaajobs .more{
    width: 58px;
    height: 27px;
    line-height: 27px;
    padding-left: 8px;
    border: solid 1px #fff;
    border-radius: 5px;
    font-size: 14px;
    color: #FFFFFF;
    cursor: pointer;
    position: absolute;
    top: 40px;
    left: 218px;
}

.boyaajobs .more span{
    line-height: 7px;
    position: absolute;
    left: 50px;
    top: 7px;
}

.boyaajobs .more:hover{
    color: #33B972;
    background-color: #fff;
}

.recuit{
    width: 305px;
    margin: 23px 0 0 20px;
}
.recuit h3{
    font-size: 14px;
    font-weight: bold;
    line-height: 20px;
    color: #fff;
}

.recuit li{
    font-size: 14px;
    line-height: 37px;
    border-bottom: solid 1px #6FDEA3;
}

.recuit li a{
    color: #fff;
    font-family: "microsoft yahei";
}

.recuit li a:hover{
    background-color: orange;
}
/*信息模块 e*/




















